body {
    background: #004c94;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    color: #013c72;    
    padding: 15px;
    text-align: center;
}

li {
    list-style: none;
}

.logos {
    margin-left: 0.8em;
    margin-bottom: 0.8em;;
}

p {
    text-align: left;
    color: #000000;
    padding: 2%;
}

header {
    background: #3399f8;
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    text-align: center;
    border: 1px solid #ffa959;
    align-items: center;
}

.descripcion {
    padding: 2%;
    font-size: 16px;
    text-align: left;
    display: inline-block;
}

.asignaturas {
    background: #016ed3;
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    margin-top: 2%;
    border: 1px solid #ffa959;
    align-items: flex-start;
}

.pestania {
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    background-color: #3399f8;
    border: 1px solid #ffa959;    
    margin: 2%;
    color: #ffffff;
    transition: background-color 0.2s linear, padding-bottom 0.2s linear, box-shadow 0.3s;
    cursor: pointer;
    box-sizing: content-box;
}

.pestania:hover {
    background-color: #016ed3;
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    padding-bottom: 10px;
    color: #790303
}

.botonera {
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    background-color: #3399f8;
    border: 1px solid #ffa959;    
    margin: 2%;
    color: #ffffff;
    transition: background-color 0.2s linear, padding-bottom 0.2s linear, box-shadow 0.3s;
    cursor: pointer;
    box-sizing: content-box;
    display: inline-block;
    width: 100px;
    height: 80px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    outline: none;
}

.github {
    background-image: url('https://skillicons.dev/icons?i=github');
}

.twitter {
    background-image: url('https://skillicons.dev/icons?i=twitter');
}

.discord {
    background-image: url('https://skillicons.dev/icons?i=discord');
}

.botonera:hover {
    background-color: #016ed3;
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    padding-bottom: 10px;
    color: #ffa959
}

footer {
    background: #016ed3;
    box-shadow: 1px 1px 5px inset rgb(255, 255, 255), -1px -1px 5px inset rgb(0, 0, 0);
    border-radius: 5px 5px 5px 5px;
    font: 16px verdan, sans-serif;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #ffffff;
    text-shadow: 3px 5px 10px rgb(#016ed3);
    text-align: center;
    border: 1px solid #ffa959;
}
